<style>
    .section {
        padding-top: 20px !Important;
    }

    .radio {
        padding-left: 30px !important;
    }

    .typewriter h2 {
        font-size: 20px !important;
        color: #8a1f11 !important;
    }

    .job-meta input {
        width: min-content !important;
    }

    .input-group {
        padding-left: 1px;
    }

    .bootstrap-select {
        padding-left: 1px;
    }

    .gm-style-iw {
        width: 250px !important;
        top: 15px !important;
        left: 0px !important;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        border: 1px solid rgba(72, 181, 233, 0.6);
        border-radius: 2px 2px 10px 10px;
    }

    #iw-container {
        margin-bottom: 10px;
    }

    #iw-container .iw-title {

        font-size: 22px;
        font-weight: 400;
        padding: 10px;
        background-color: #48b5e9;
        color: white;
        margin: 0;
        border-radius: 2px 2px 0 0;
    }

    #iw-container .iw-content {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        margin-right: 1px;
        padding: 15px 5px 20px 15px;
        max-height: 140px;
        /* overflow-y: auto; */
        overflow-x: hidden;
    }

    .iw-content img {
        float: right;
        margin: 0 5px 5px 10px;
    }

    .iw-subTitle {
        font-size: 16px;
        font-weight: 700;
        padding: 5px 0;
    }

    .iw-bottom-gradient {
        position: absolute;
        width: 250px;
        height: 25px;
        bottom: 10px;
        right: 18px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    }

    .container {
        width: 95% !important;
    }
    .md-padding {
        padding: 6px !important; 
    }
    md-autocomplete input:not(.md-input){
        background: #f3f6f9 !important
    }
    md-autocomplete.md-default-theme, md-autocomplete{
        background: #f3f6f9 !important
    }
    #cstmautocomplete .dropdown-menu, #KeywordsAdauto .dropdown-menu{
        width: 87% !important;
    }
</style>
<div ng-controller="JobSearchController" ng-init="GetSearchedJobs()">

    <div class="section lb">
        <div class="container">

            <div class="row">
                <div class="container">
                    <div class="text-center">
                        <div class="col-md-12 text-center">
                            <div class="sectionnr nopadding wb SearchJob">
                                <form id="DefaultSearch" class="submit-form customform">
                                    <div class="row typewriter">
                                        <h2>Search Jobs</h2>
                                        <br />
                                        <div class="col-md-5 col-sm-6 col-xs-12">
                                            <div class="input-group" ng-class="{ 'has-error' : DefaultSearch.Keywords.$invalid && !DefaultSearch.Keywords.$pristine }">
                                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="fa fa-search"></i>
                                                </span>
                                                <input type="text" class="form-control" ng-model="Keywords" placeholder="Search Keywords" typeahead="item for item in items | filter:$viewValue | limitTo:8" aria-describedby="basic-addon2"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                            <div class="input-group">
                                                <input type="text" id="Serach_joblocation" onclick="call()" class="form-control" placeholder="Job location" />
                                                <!-- <select class="selectpicker" data-style="btn-default" multiple="" data-selected-text-format="count > 5" id="Serach_joblocation"
                                                    name="Serach_joblocation" data-live-search="true" data-style="btn-white"
                                                    required>
                                                    <option selected="selected" value="Job Locations">Job Locations
                                                        <option ng-repeat="Location in JobLocationList" value="{{Location.JobLocation}}">{{Location.JobLocation}}</option>
                                                </select> -->
                                            </div>
                                        </div>

                                        <!-- end col -->
                                        <div class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="input-group">
                                                <select id="Experience" class="selectpicker" required>
                                                    <option selected value="Exp">Exp in Year</option>
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-md-2 col-sm-6 col-xs-12">
                                            <div class="input-group">
                                                <select id="Salary" class="required selectpicker" required>
                                                    <option>Salary in Lakh</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-2 col-sm-4 col-xs-12">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-white dropdown-toggle  waves-effect" data-toggle="dropdown" aria-expanded="false"> Date Posted
                                                <span class="caret"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio5" value="option5">
                                                    <label for="radio5">
                                                        Past 24 Hours
                                                    </label>
                                                </div>
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio5" value="option5">
                                                    <label for="radio5">
                                                        Past Week
                                                    </label>
                                                </div>
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio5" value="option5">
                                                    <label for="radio5">
                                                        Past Month
                                                    </label>
                                                </div>
                                                <div class="radio radio-info">
                                                    <input type="radio" name="radio" id="radio5" value="option5">
                                                    <label for="radio5">
                                                        Any Time
                                                    </label>
                                                </div>
                                
                                            </div>
                                        </div>
                                    </div> -->
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                    <!-- <div class="row listcheckbox">
                                        <div class="col-md-9 col-sm-9 col-xs-12 text-left">
                                            <ul class="list-inline">
                                                <li class="checkbox checkbox-primary">
                                                    <input id="checkbox_qu_01" type="checkbox" class="styled">
                                                    <label for="checkbox_qu_01">
                                                        <small>Freelancer</small>
                                                    </label>
                                                </li>
                                                <li class="checkbox checkbox-primary">
                                                    <input id="checkbox_qu_02" type="checkbox" class="styled">
                                                    <label for="checkbox_qu_02">
                                                        <small>Part Time</small>
                                                    </label>
                                                </li>
                                                <li class="checkbox checkbox-primary">
                                                    <input id="checkbox_qu_03" type="checkbox" class="styled">
                                                    <label for="checkbox_qu_03">
                                                        <small>Full Time</small>
                                                    </label>
                                                </li>
                                                <li class="checkbox checkbox-primary">
                                                    <input id="checkbox_qu_04" type="checkbox" class="styled">
                                                    <label for="checkbox_qu_04">
                                                        <small>Temporary</small>
                                                    </label>
                                                </li>
                                                <li class="checkbox checkbox-primary">
                                                    <input id="checkbox_qu_05" type="checkbox" class="styled">
                                                    <label for="checkbox_qu_05">
                                                        <small>Partnership</small>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <div class="col-md-12">
                                                <div class="text-right">
                                                    <a href class="readmore" ng-click="AdvanceSearch()">Advanced Search</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-5 col-xs-12" style="top:16px; font-size: 12px;">
                                            <div class="text-left">
                                                <a href class="readmore" ng-click="AdvanceSearch()">Advanced Search</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12" align="center" style="margin-left: 15px">
                                            <button class="btn btn-primary btn-block cstmcls pull-left" style="width: auto !important" ng-click="serch_job()">Search Job</button>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </form>
                                <form id="AdvanceSearch" class="submit-form customform" style="display: none">  
                                    <div class="row typewriter">
                                        <h2>Advanced Job Search</h2>
                                        <br />
                                        <div class="col-md-4">
                                            <div class="form-group cstm">
                                                <input type="text" class="form-control" ng-model="KeywordsAd" placeholder="Skills" typeahead="item for item in items | filter:$viewValue | limitTo:8">
                                                <!-- <input onfocus="geolocate()" onclick="return initialize3()" placeholder="Search by location" id="txt_locationname" type="text" required /> -->
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                    <input type="text" id="JobLocatioAd" onclick="call1()" class="form-control" placeholder="Job location" />
                                                <!-- <select class="selectpicker" multiple="" ng-model="JobLocatioAd" data-selected-text-format="count > 5" id="joblocation" name="joblocation"
                                                    data-live-search="true" data-style="btn-white">
                                                    <option selected="selected" value="">Job Locations
                                                        <option ng-repeat="Location in JobLocationList" value="{{Location.JobLocation}}">{{Location.JobLocation}}</option>
                                                </select> -->
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <select class="selectpicker" multiple="" data-selected-text-format="count > 5" id="jobindustry" name="jobindustry" data-live-search="true"
                                                    data-style="btn-white">
                                                    <option selected="selected" value="">Industry
                                                        <option ng-repeat="Industry in JobIndustryList" value="{{Industry.JobIndustry}}">{{Industry.JobIndustry}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="input-group">
                                                <select id="ExperienceAd" style="width: 100%;" class="selectpicker">
                                                    <option selected value="Exp">Exp in Year</option>
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-md-2 col-sm-4 col-xs-12">
                                            <div class="input-group">
                                                <select id="SalaryAd" style="width: 100%;" class="selectpicker">
                                                    <option>Salary in Lakh</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                    <option>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-7 text-left">
                                            <label class="radio-inline" style="padding-left: 0px;">
                                                <label type="text">
                                                    <b>Job Type: </b>
                                                </label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioB1" value="All Jobs">All Jobs
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioB1" value="Company Jobs">Company Jobs
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioB1" value="Consultant Jobs">Consultant Jobs
                                            </label>
                                        </div>
                                        <div class="col-md-5 text-left">
                                            <label class="radio-inline" style="padding-left: 0px;">
                                                <label type="text">
                                                    <b>Sort By: </b>
                                                </label>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioB2" value="Relevance">Relevance
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="radioB2" value="Date">Date
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 col-xs-12">
                                            <button class="btn btn-primary btn-block pull-left" style="width: auto !important" ng-click="DefaultSearch()">
                                                <i style="color: #fff !Important;" class="fa fa-arrow-left"></i>
                                            </button>
                                            <button class="btn btn-primary btn-block pull-right" style="width: auto !important" ng-click="Advanceserch_job()">Search Job</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- end container -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix">&nbsp;</div>
                <div id="resultdiv" class="section lb">
                    <!-- <div class="text-right">
                            <button type="button" class="btn btn-primary" ng-click="ListView()">
                                <i class="fa fa-list-alt" style="color: #2f2a2c !important"></i> List Job view</button>
                            <button type="button" class="btn btn-info" ng-click="MapView()">
                                <i class="fa fa-map" style="color: #ff6700 !important"></i> Map Job view</button>
                        </div> -->
                    <!-- <div class="clearfix">&nbsp;</div> -->
                    <!-- <div class="section-title text-center clearfix">
                            <h4>Featured Jobs</h4>
                            <hr>
                            <p class="lead">Lorem ipsum dolor sit amet, non odio tincidunt ut ante, lorem a euismod suspendisse vel, sed
                                quam nulla mauris iaculis. Erat eget vitae malesuada, tortor tincidunt porta lorem lectus.</p>
                        </div> -->
                    <style>
                        #panel {
                            position: absolute;
                            height: 100%;
                            background: transparent;
                            right: 0;
                        }

                        #panel-content {
                            position: relative;
                            width: 175px;
                            height: 600px;
                            background: #fff;
                            float: right;
                            z-index: 10;
                        }

                        #panel-tab {
                            position: relative;
                            width: 50px;
                            height: 100%;
                            background-color: transparent;
                            float: left;
                        }

                        #myTab {
                            position: relative;
                            top: 150px;
                            background: black;
                            height: 200px;
                            width: 90%;
                            color: White;
                        }

                        #myTab p {
                            margin: 0;
                        }
                    </style>
                    <div id="panel">

                        <div id="panel-content" style="overflow-y: auto">
                            <div id="Joblist">
                                <div id="loadercstm" style="position: absolute;z-index: 20;padding-left: 47%;padding-top: 45%;background-color: rgba(255,255,255,1);width: 100%;height: 100%; display: none">
                                    <img src="images/loader.gif">
                                </div>

                                <small>
                                    <a href ng-click="close()">
                                        <i class="fa fa-times" style="font-size: 25px;margin-left: 10px;margin-top: 5px;"></i>
                                    </a>
                                    <a style="font-size: 24px; margin-left: 27%">
                                        <b>Available Jobs</b>
                                    </a>
                                </small>
                                <div id="CompanyJob" class="job-tab" ng-repeat="Job in All_JobList_Company">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <div class="badge freelancer-badge">Job</div> -->
                                            <h3>
                                                <a href="job-single.htm" title="">{{Job.JobTitle}}</a>
                                            </h3>
                                            <small>
                                                <span>Company :
                                                    <a href="#">Amanda Sun</a>
                                                </span>
                                                <span>In :
                                                    <a href="#">Development</a>
                                                </span>
                                                <span>Posted Date : {{Job.JobPostDate}}</span>
                                            </small>
                                        </div>
                                        <!-- end col -->

                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="job-meta">
                                                <p>{{Job.JobLocation}}</p>
                                                <small>India</small>
                                            </div>
                                            <!-- end meta -->
                                        </div>
                                        <!-- end col -->

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="job-meta text-center">
                                                <h4>${{Job.MinSal}} - ${{Job.MaxSal}}</h4>
                                                <a href class="btn btn-primary btn-sm" ng-click="applytojob(Job.JobPostID)">Apply</a>
                                                <a href class="btn btn-info btn-sm" ng-click="getJobID(Job.JobPostID)">View</a>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="job_view" class="all-jobs job-listing clearfix">
                        <div id="jobdivv" class="col-md-6 col-sm-12 col-xs-12" style="padding-right: 0px !important">
                            <button id="btnmax" data-toggle="tooltip" title="Open list view" class="btn btn-primary" ng-click="maxlist()" style="display: none; position: absolute;z-index: 10;left: -35px;border-radius: 0px;">
                                <i class="fa fa-angle-right fa-2x"></i>
                            </button>
                            <button id="btnmin" data-toggle="tooltip" title="Close list view" class="btn btn-primary" ng-click="minlist()" style="position: absolute;z-index: 10;right: 0px;border-radius: 0px;">
                                <i class="fa fa-angle-left fa-2x"></i>
                            </button>
                            <div id="jobdiv">
                                <div class="job-tab" ng-repeat="Job in All_JobList" data-toggle="tooltip" title="Click to view on map" ng-mouseover="myClick($index)">
                                    <div class="row">
                                        <div class="cstmclss col-md-6 col-sm-6 col-xs-12">
                                            <div class="badge freelancer-badge">Job</div>
                                            <h3>
                                                <a title="">{{Job.JobTitle}}</a>
                                            </h3>
                                            <small>
                                                <span>Company :
                                                    <a href="#">Amanda Sun</a>
                                                </span>
                                                <span>In :
                                                    <a href="#">Development</a>
                                                </span>
                                                <span>Posted Date : {{Job.JobPostDate}}</span>
                                            </small>
                                        </div>
                                        <!-- end col -->

                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <div class="job-meta">
                                                <p>{{Job.JobLocation | split:',':0}}</p>
                                                <small>India</small>
                                            </div>
                                            <!-- end meta -->
                                        </div>
                                        <!-- end col -->

                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="job-meta text-center">
                                                <h4>${{Job.MinSal}} - ${{Job.MaxSal}}</h4>
                                                <a href class="btn btn-primary btn-sm" ng-click="applytojob(Job.JobPostID)">Apply</a>
                                                <a href class="btn btn-info btn-sm" ng-click="getJobID(Job.JobPostID)">View</a>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
                        <div id="mapdiv" class="col-md-6 col-sm-12 col-xs-12" style="padding-left: 0px !important">
                            <button id="btnmin1" data-toggle="tooltip" title="Close map view" class="btn btn-info" ng-click="minmap()" style="position: absolute;z-index: 10;left: 0px; top: 43px;border-radius: 0px;">
                                <i class="fa fa-angle-right fa-2x"></i>
                            </button>
                            <div id="map_canvas" style="width: 100%; height: 600px"></div>
                        </div>
                    </div>

                    <!-- end alljobs -->

                    <!-- <div class="loadmorebutton text-center clearfix">
                            <a href="#" class="btn btn-primary" id="loadMore">Load More Jobs</a>
                        </div> -->
                    <!-- end loadmore -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section -->
    <!-- end section -->
</div>

<script>
    $(function () {
        var $pCont = $("#panel-content");
        $pCont.width(0);
    });

    $(document).ready(function () {
        $('#div_login input').focus(function (index) {
            document.getElementById('errormsg').innerHTML = "";
        });
    });

    setTimeout(function () {
        // $("#Serach_Projlocation").selectpicker('refresh');
        $("#ProjectType").selectpicker('refresh');
        // $("#Serach_joblocation").selectpicker('refresh');
        // $("#joblocation").selectpicker('refresh');
        $("#jobindustry").selectpicker('refresh');
    }, 5000);

    $(document).ready(function () {
        $("#DefaultSearch .input-group").hover(function (index) {
            $("#DefaultSearch .input-group, #DefaultSearch .bootstrap-select").css('border', 'none');
        });
        $("#AdvanceSearch .cstm").hover(function (index) {
            $("#AdvanceSearch .cstm, #AdvanceSearch .bootstrap-select").css('border', 'none');
        });
    });

    function call(){
        var places = new google.maps.places.Autocomplete(document.getElementById('Serach_joblocation'));
        google.maps.event.addListener(places, 'place_changed', function () {
            // var place = places.getPlace();
            // var address = place.formatted_address;
            // var latitude = place.geometry.location.lat();
            // var longitude = place.geometry.location.lng();
            // var mesg = "Address: " + address;
            // mesg += "\nLatitude: " + latitude;
            // mesg += "\nLongitude: " + longitude;
            // alert(mesg);
        });
    }

    function call1(){
        var places1 = new google.maps.places.Autocomplete(document.getElementById('JobLocatioAd'));
        google.maps.event.addListener(places1, 'place_changed', function () {
        });
    }

</script>